{% extends 'base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12">
            <h5>Заказ № {{ object.pk }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="card indigo darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ object }}</span>
                    <div class="row">
                        <div class="col s6">
                            <p>Дата создания</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.date }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p>Покупатель</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.consumer.name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p>Сумма заказа</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.get_total_order_retail_price|floatformat:"g" }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p>Веc заказа</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.get_total_order_weight|floatformat:"g" }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p>Статус</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.get_status_display }}</p>
                        </div>
                    </div>
                    <p>{{ object.description }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'warehouse:consumer_detail' object.consumer.pk %}">Вернуться</a>
                    <a href="{% url 'warehouse:order_update' object.pk %}">Изменить</a>
                    <a href="{% url 'warehouse:productinorder_create' object.pk %}">Добавить продукт</a>
                    <a href="{% url 'warehouse:order_delete' object.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    </div>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">input</i>
                Товары в заказе <span class="badge" data-badge-caption="шт.">{{ productinorder_list|length }}</span>
            </div>
            <div class="collapsible-body">
                {% include 'warehouse/productinorder/productinorder_list.html' with object_list=productinorder_list %}
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">access_time</i>
                История изменения заказа
            </div>
            <div class="collapsible-body">
                {% for obj in history %}
                    <p class="black-text">{{ obj.history_date|date:"d M h:m" }}
                        - {{ obj.get_status_display|capfirst }}</p>
                {% endfor %}
            </div>
        </li>
    </ul>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}