{% extends 'base.html' %} 

{% block title %}Список категорий{% endblock %} 

{% block content %}
<h5 class="center-align">
  Список категорий
  <span class="badge" data-badge-caption="шт.">{{ object_list|length }}</span>
</h5>

{% include 'includes/table.html' with detail_url='warehouse:category_detail'%}

<br />
<div class="row">
  <a
    href="{% url 'warehouse:category_create' %}"
    class="waves-effect waves-light btn">Добавить</a>
  
    <a href="{% url 'warehouse:category_list' %}?format=csv"
    class="waves-effect waves-light btn" >Excell</a>
</div>

{% endblock %}
