{% load getattribute %}
{% load gettype %}

<form method="post" action="{% url 'warehouse:productinlot_create' lot_id %}">
  {% csrf_token %}
  <table class="highlight">
    <thead>
      <tr>
        <th class="center">Наименование</th>
        <th class="center">РЦ</th>
        <th class="center">ЗЦ</th>
        <th class="center">Кол-во</th>
        <th class="center">Описание</th>
      </tr>
    </thead>

    <tbody>
      {% if object_list|length %}
      {% for obj in object_list %}
      <tr>
        <input type="hidden" name="selected_objects" value="{{ obj.id }}">
        <td class="center">{{obj.name}}</td>
        <td class="center">{{obj.retail_price|floatformat:"g"}}</td>
        <td><input class="center" type="number" name="purchase_prices" min="0" value="0" /></td>
        <td><input class="center" type="number" name="quantities" min="0" value="0" /></td>
        <td><input class="center" type="text" name="descriptions" value="" /></td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="3">Нет данных</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <br />
  <input type="submit" value="Добавить" class="btn" />
  <a class="btn" href="{% url 'warehouse:lot_detail' lot_id%}">Вернуться</a>
</form>