{% extends 'base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="">
            <div class="card indigo darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ object }}</span>
                    <div class="row">
                        <div class="col s6">
                            <p>Наименование</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p>Дата создания</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.date }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p>Сумма</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.amount|floatformat:"g" }}</p>
                        </div>
                    </div>
                    <p>{{ object.description }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'warehouse:balance_list'  %}">Вернуться</a>
                    <a href="{% url 'warehouse:cost_update' object.pk %}">Изменить приход</a>
                    <a href="{% url 'warehouse:cost_create' %}">Добавить приход</a>
                    <a href="{% url 'warehouse:cost_delete' object.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}