<h5 class="center-align">Список приходов <span class="badge" data-badge-caption="шт.">{{ object_list|length }}</span>
</h5>

<table class="highlight">
    <thead>
    <tr>
        <th>#</th>
        <th>Наименование</th>
        <th>Дата</th>
        <th>Описание</th>
        <th>Сумма</th>
        <th>Описание</th>
    </tr>
    </thead>

    <tbody>
    {% if object_list|length %}
        {% for obj in object_list %}
            <tr onclick="window.location.href='{% url detail_url obj.pk %}'">
                <td>{{ obj.pk }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.date }}</td>
                <td>{{ obj.amount|floatformat:"g" }}</td>
                <td>{{ obj.description|truncatewords:3 }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">Нет данных</td>
        </tr>
    {% endif %}
    </tbody>
</table>
