<h5 class="center-align">Список закупок <span class="badge" data-badge-caption="шт.">{{ object_list|length }}</span>
</h5>

<table class="highlight">
    <thead>
    <tr>
        <th>#</th>
        <th>Дата создания</th>
        <th>Описание</th>
        <th>Опции</th>
    </tr>
    </thead>

    <tbody>
    {% if object_list|length %}
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.pk }}</td>
                <td><a href="{% url 'warehouse:lot_detail' obj.pk %}">{{ obj.date }}</a></td>
                <td>{{ obj.description|truncatewords:3 }}</td>
                <td><a href="{%  url 'warehouse:lot_to_warehouse_detail' warehouse.pk obj.pk %}">Переместить на склад</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">Нет данных</td>
        </tr>
    {% endif %}
    </tbody>
</table>
