<table class="highlight">
    <thead>
    <tr>
        <th>#</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Закупочная цена</th>
        <th>Ceбестоимость</th>
        <th>Розничная цена</th>
        <th>Вес ед.</th>
        <th>Общий вес</th>
        <th>Описание</th>
    </tr>
    </thead>

    <tbody>
    {% if object_list|length %}
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.pk }}</td>
                <td>{{ obj.product.name }}</td>
                <td>{{ obj.quantity|floatformat:"g" }}</td>
                <td>{{ obj.price|floatformat:"g" }}</td>
                <td>{{ obj.cost_price|floatformat:"g" }}</td>
                <td>{{ obj.product.retail_price|floatformat:"g" }}</td>
                <td>{{ obj.product.weight|floatformat:"g" }}</td>
                <td>{{ obj.total_weight|floatformat:"g" }}</td>
                <td>{{ obj.description|truncatewords:3 }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">Нет данных</td>
        </tr>
    {% endif %}
    </tbody>
</table>