<table class="highlight">
    <thead>
    <tr>
        <th>#</th>
        <th>Дата создания</th>
        <th>Статус</th>
        <th>Описание</th>
        <th>Примечания</th>
    </tr>
    </thead>

    <tbody>
    {% if object_list|length %}
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.pk }}</td>
                <td><a href="{% url 'warehouse:lot_detail' obj.pk %}">{{ obj.date }}</a></td>
                <td>{{ obj.get_status_display }}</td>
                <td>{{ obj.description|truncatewords:3 }}</td>
                {% if obj.excluded_lot_costs %}
                    <td>{{ obj.excluded_lot_costs }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">Нет данных</td>
        </tr>
    {% endif %}
    </tbody>
</table>
