<h5 class="center-align">
  Список продуктов
  <span class="badge" data-badge-caption="шт.">{{ object_list|length }}</span>
</h5>

<table class="highlight">
  <thead>
    <tr>
      <th>#</th>
      <th>Наименование</th>
      <th>Розничная цена</th>
      <th>Вес кг.</th>
      <th>Описание</th>
    </tr>
  </thead>

  <tbody>
    {% if object_list|length %} {% for obj in object_list %}
      <tr onclick="window.location.href='{% url detail_url obj.pk %}'">
        <td>{{ obj.pk }}</td>
        <td>
          {{ obj.name }}
        </td>
        <td>{{ obj.retail_price|floatformat:"g" }}</td>
        <td>{{ obj.weight|floatformat:"g" }}</td>
        <td>{{ obj.description|truncatewords:3 }}</td>
      </tr>
    {% endfor %} 
    {% else %}
    <tr>
      <td colspan="3">Нет данных</td>
    </tr>
    {% endif %}
  </tbody>
</table>

<div class="center">
  {% include 'includes/pagination.html' with page=page_obj %}
</div>
