{% load getattribute %}
{% load gettype %}

<table class="highlight">
  <thead>
    <tr>
      {% for column in columns %}
        <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% if object_list|length %} 
      {% for obj in object_list %}
        <tr onclick="window.location.href='{% url detail_url obj.pk %}'">
          {% for col_attr in columns_attributes %}
            {% if col_attr == 'description' %}
              <td>{{ obj|getattribute:col_attr|truncatewords:3 }}</td>
            {% elif col_attr|gettype == 'float'%}
              <td>{{ obj|getattribute:col_attr|floatformat:"g" }}</td>
            {% else %}
              <td>{{ obj|getattribute:col_attr }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %} 
    {% else %}
    <tr>
      <td colspan="3">Нет данных</td>
    </tr>
    {% endif %}
  </tbody>
</table>
