{% extends 'base.html' %}

{% block title %}Список расходов{% endblock %}

{% block content %}
    <h5 class="center-align">Список расходов <span class="badge"
                                                      data-badge-caption="шт.">{{ object_list|length }}</span></h5>

    <table class="highlight">
        <thead>
        <tr>
            <th>#</th>
            <th>Описание</th>
            <th>Дата создания</th>
            <th>Сумма</th>
        </tr>
        </thead>

        <tbody>
        {% if object_list|length %}
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.pk }}</td>
                    <td><a href="{% url 'warehouse:currentexpense_detail' obj.pk %}">{{ obj.description|truncatewords:3 }}</a></td>
                    <td>{{ obj.date }}</td>
                    <td>{{ obj.cost|floatformat:"g" }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">Нет данных</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <br/>
    <div class="row">

        <a href="{% url 'warehouse:currentexpense_create' %}" class="waves-effect waves-light btn">Добавить</a>
    </div>
{% endblock %}