.toast {
    position: fixed;
    top: 25%;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #3949ab;
    color: #fff;
    border-radius: 5px;
    animation: toastFadeOut 3s forwards;
    opacity: 0;
    height: 50px;
}

@keyframes toastFadeOut {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}