{% extends 'base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12">
            <h5>Покупатель {{ object.name }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="card indigo darken-1">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s6">
                            <p>Общая сумма покупок</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.total_cost }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p>Уровень покупателя</p>
                        </div>
                        <div class="col s6">
                            <p>{{ object.level }}</p>
                        </div>
                    </div>
                    <p>{{ object.description }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'warehouse:consumer_list' %}">Вернуться</a>
                    <a href="{% url 'warehouse:consumer_update' object.pk %}">Изменить</a>
                    <a href="{% url 'warehouse:order_create' object.pk %}">Добавить заказ</a>
                    <a href="{% url 'warehouse:consumer_delete' object.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">input</i>
                Список всех заказов <span class="badge" data-badge-caption="шт.">{{ consumer_orders|length }}</span>
            </div>
            <div class="collapsible-body">
                {% include 'warehouse/order/order_list.html' with object_list=consumer_orders %}
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">access_time</i>
                Список неоплаченных заказов
            </div>
            <div class="collapsible-body">
                {% include 'warehouse/order/order_list.html' with object_list=not_paid_orders %} <span class="badge"
                data-badge-caption="шт.">{{ not_paid_orders|length }}</span>

            </div>
        </li>
    </ul>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}