{% extends 'base.html' %}

{% block title %}Consumer list{% endblock %}

{% block content %}
    <h5 class="center-align">Список покупателей <span class="badge"
                                                      data-badge-caption="шт.">{{ object_list|length }}</span></h5>

    <table class="highlight">
        <thead>
        <tr>
            <th>#</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Сумма покупок</th>
            <th>Уровень покупателя</th>

        </tr>
        </thead>

        <tbody>
        {% if object_list|length %}
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.pk }}</td>
                    <td><a href="{% url 'warehouse:consumer_detail' obj.pk %}">{{ obj.name }}</a></td>
                    <td>{{ obj.description|truncatewords:3 }}</td>
                    <td>{{ obj.total_cost|floatformat:"g" }}</td>
                    <td>{{ obj.level }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">Нет данных</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <br/>
    <div class="row">

        <a href="{% url 'warehouse:consumer_create' %}" class="waves-effect waves-light btn">Добавить</a>
    </div>

{% endblock %}